Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt": ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

commands:
  01_check_certbot_installed:
    test: "[ ! -x /opt/certbot/bin/certbot ]"
    command: "echo Certbot is not installed."
    ignoreErrors: true

  02_certbot_install:
    test: "[ ! -x /opt/certbot/bin/certbot ]"
    command: "sudo /opt/certbot/bin/pip install --upgrade pip"
    leader_only: true

  03_certbot_install_certbot:
    test: "[ ! -x /opt/certbot/bin/certbot ]"
    command: "sudo /opt/certbot/bin/pip install certbot certbot-nginx"
    leader_only: true

  04_certbot_check_existing:
    test: "[ -f /etc/letsencrypt/live/api.homoeopatha.com/fullchain.pem ] && [[ $(openssl x509 -checkend 86400 -noout -in /etc/letsencrypt/live/api.homoeopatha.com/fullchain.pem) = 'Certificate will expire' ]]"
    command: "sudo /opt/certbot/bin/certbot --renew-by-default --nginx --non-interactive --agree-tos -m krishankant.1172@gmail.com -d api.homoeopatha.com"
    leader_only: true

  05_certbot_reissue:
    test: "[ ! -f /etc/letsencrypt/live/api.homoeopatha.com/fullchain.pem ] || [[ $(openssl x509 -checkend 86400 -noout -in /etc/letsencrypt/live/api.homoeopatha.com/fullchain.pem) != 'Certificate will expire' ]]"
    command: "sudo /opt/certbot/bin/certbot --nginx --non-interactive --agree-tos -m krishankant.1172@gmail.com -d api.homoeopatha.com"
    leader_only: true
